@model Books.ViewModels.BookFormViewModel

@{
    ViewBag.Title = "Create";
}

<h3 class="text-primary">
    @(Model.Id == 0 ? "Add New Book" : "Edit Book")
</h3>

<hr />

@using (Html.BeginForm("Save", "Books"))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Author)
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CategoryId)
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}